#navbar{
    text-align: center;
    height: 60px;
    background-color:light pink;
    
    
    




    
}
a{
     margin-right: 340px;
    text-decoration: none;
    font-size: larger;
    color: black; 
    text-align: center;

}
header{
    text-align: center; 
    background-color: dark pink;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    
    font-size: large;
    font-style: oblique;
    
    text-align: center;
    


}
body{
    
    background-size: cover;
    
    background-image: url(/top-view-desk-concept-with-copy-space_23-2148604919.jpg);
    background-size: cover;
    

}


button{
    margin: auto;
    padding: 1px;
    justify-content: center;
    cursor: pointer;
    font-size: 20PX;
    display: flex;
    padding: 0 5px;
    transition: 0.3s all ease;
    background-color:papayawhip;
    
    
    
}
h1{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0%;
    padding: 2%;

}